* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */



.avatar {
    height: 60px;
    border-radius: 50%;
    padding-left: 10px;
}

.symbol {
    display: flex;
    gap: 10px;
    padding: 0 1em;
    font-size: 1.2em;
    color: #b1b1b1;
}

.symbol :hover {
    color: #009688;
    cursor: pointer
}

.emoji :hover {
    color: #009688;
    cursor: pointer;
}

/* common */

body {
    position: relative;
}

#app {
    

    width: 100%;
    height: 100vh;


    background-color: #d5dbd8;

   
}

.container {
    display: flex;
    flex-flow: row nowrap;



    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 10px;
    right: 10px;

    width: 100%;

    max-width: 1500px;

    margin: 0 auto;
    
    z-index: 2;

}

#background-top {
    background-color: #009688;
    height: 120px;
}

.aside {
    width: 30vw;

    display: flex;
    flex-direction: column;

    overflow: auto;

    background-color: white;

}

.aside .aside-nav {
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    background-color: #f3eeea;

    border-right: 1px solid darkgray;
}

.aside .aside-nav .nome-utente {
    flex-grow: 1;
}

.aside .notifiche {
    display: flex;
    gap: .5em;

    padding: 1em;

    background-color: #8edafc;
}

.aside .notifiche .campanella {
    font-size: 2em;
    border-radius: 50%;
    background-color: white;
}

.aside #search-bar {
    padding: 10px;
    margin: 10px 10px;
    border-radius: 8px;
}

.aside .amici {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    padding-right: 10px;
    padding: 10px;

    border-bottom: 1px solid darkgray;
}

.aside li:hover {
    cursor: pointer;

    background-color: #eee;
}

.active {
    background-color: #eee;
}

.aside .amici .info {
    flex-grow: 1;

}

.aside .amici .time {
    opacity: .4;

    position: absolute;
    top: 10px;
    right: 10px;
}

.main-container {
    
    width: calc(100vw - 30vw);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url(../img/mine.jpg);


}

.main-container .main-nav {
    height: 80px;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    /* test */
    background-color: #f3eeea;
}

.main-container .main-nav .nome-amico {
    flex-grow: 1;
}


.main-container .main-nav .nome-amico .ultimo-accesso {
    opacity: .4;
    font-size: .8em;
}


.main-container .sezione-messaggi {
    padding: 2em 3.5em;
    height: 100%;

    display: block;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;

    gap: 1em;

    overflow-y: auto;

}

.main-container .sezione-messaggi span {
    position: relative;
}

.inviato {
    position: relative;
    padding: .7em;

    min-width: 250px;
    max-width: 60%;
    min-height: 50px;
  
    align-self: flex-end;

    border-radius: 10px;

    background-color: #d5f9ba;

}

.ricevuto {
    position: relative;
    padding: .7em;

    min-width: 200px;
    max-width: 60%;
    min-height: 50px;

    align-self: flex-start;

    border-radius: 10px;

    background-color: white;
}

.fa-caret-down {
    position: absolute;
    top: 5px;
    right: 10px;

    color: darkgray;


}


.dropdown {
    position: absolute;
    top: 20px;
    right: 0;

    list-style-type: none;

    display: none;

    border: solid 1px #eee;
}

.inviato:hover .dropdown {
    transition: .5s;
    display: block;
    cursor: pointer;

}

.ricevuto:hover .dropdown {
    transition: .5s;
    display: block;
    cursor: pointer;
}

.dropdown li {
    font-size: .8em;
    border-bottom: 1px solid #eee;
    background-color: white;
    color: darkgrey;
}

.dropdown li:hover {
    background-color: #eee;
    cursor: pointer;
}


.orario {
    position: absolute;
  right: 6px;
  bottom: 3px;

  font-size: .7em;

  

  color: #aaa
}


.main-container .main-footer {
    height: 80px;
    flex-shrink: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* test */
    background-color: #f3eeea;
}

.main-container .main-footer .emoji {
    padding: 1em;
    font-size: 1.5em;
}

.main-container .main-footer .barra-messaggi {
    flex-grow: 1;
}

.main-container .main-footer .barra-messaggi input {
    width: 100%;
    padding: 1em;
    border-radius: 5px;

}